swagger: '2.0'
info:
  description: This is the API documentation for COP 4331 
  version: 1.0.0
  title: Contact manager
  # put the contact info for your development or API team
  contact:
    email: ha@ha.com

  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

paths:
  /CreateAccount.php:
    post:
      tags:
      - Users
      summary: Creates account
      operationId: dCreate
      description: Creates Account
      consumes:
      - application/json
      parameters: 
      - in: body
        name: createItem
        description: Create
        schema: 
          $ref: '#/definitions/Create'
      responses:
        200:
          description: OK
        404:
          description: URL Not Found
        500:
          description: Server Error
    
  /Login.php:
    post:
        tags:
        - Users
        summary: Logs in to the login app
        operationId: dlLogin
        description: Logs in to login app
        consumes:
        - application/json
        produces:
        - application/json
        parameters:
        - in: body
          name: loginItem
          description: Login
          schema:
            $ref: '#/definitions/Login'
        responses:
          200:
            description: OK
          404:
            description: URL Not Found
          500:
            description: Server Error
    
  /AddContact.php:
    post:
        tags:
        - Contacts
        summary: Adds contact assigned to user
        operationId: dlAddContact
        description: Adds contact
        consumes:
        - application/json
        parameters:
        - in: body
          name: addContactItem
          description: AddContact
          schema:
            $ref: '#/definitions/AddContact'
        responses:
          200:
            description: OK
          404:
            description: URL Not Found
          500:
            description: Server Error
  /UpdateContact.php:
    post:
        tags:
        - Contacts
        summary: Updates contact given ID and UserID
        operationId: dlUpdateContact
        description: Updates contact
        consumes:
        - application/json
        parameters:
        - in: body
          name: updateContactItem
          description: UpdateContact
          schema:
            $ref: '#/definitions/UpdateContact'
        responses:
          200:
            description: OK
          404:
            description: URL Not Found
          500:
            description: Server Error
    
  /SearchContact.php:
    post:
        tags:
        - Contacts
        summary: Searchs contact based on fields assigned to user
        operationId: dlSearchContact
        description: Searchs contact based on fields assigned to user
        consumes:
        - application/json
        produces:
        - application/json
        parameters:
        - in: body
          name: searchContactItem
          description: SearchContact
          schema:
            $ref: '#/definitions/SearchContact'
        responses:
          200:
            description: OK
          404:
            description: URL Not Found
          500:
            description: Server Error
            
  /DeleteContact.php:
    post:
        tags:
        - Contacts
        summary: Deletes contact via given ID
        operationId: dlDeleteContact
        description: Deletes contact
        consumes:
        - application/json
        parameters:
        - in: body
          name: DeleteContactItem
          description: DeleteContact
          schema:
            $ref: '#/definitions/DeleteContact'
        responses:
          200:
            description: OK
          404:
            description: URL Not Found
          500:
            description: Server Error



definitions:
  Create:
    type: object
    required:
    - firstName
    - lastName
    - login
    - password
    properties:
      firstName:
        type: string
        example: "first"
      lastName:
        type: string
        example: "last"
      login:
        type: string
        example: "user"
      password:
        type: string
        example: "pass"
    
  Login:
    type: object
    required:
    - login
    - password
    properties:
      login:
        type: string
        example: "fred"
      password:
        type: string
        example: "secret"
    
  AddContact:
    type: object
    required:
    - firstName
    - lastName
    - email
    - phone
    - userID
    properties:
      firstName:
        type: string
        example: "fred"
      lastName:
        type: string
        example: "secret"
      email:
        type: string
        example: "name@domain.net"
      phone:
        type: string
        example: "800-000-0012"
      userID:
        type: integer
        example: -1
        
  UpdateContact:
    type: object
    required:
    - firstName
    - lastName
    - email
    - phone
    - userID
    - ID
    properties:
      firstName:
        type: string
        example: "fred"
      lastName:
        type: string
        example: "secret"
      email:
        type: string
        example: "name@domain.net"
      phone:
        type: string
        example: "800-000-0012"
      ID:
        type: integer
        example: -1
  
  DeleteContact:
    type: object
    required:
    - ID
    properties:
      ID:
        type: integer
        example: -1
        
  SearchContact:
    type: object
    required:
    - search
    - userID
    properties:
      search:
        type: string
        example: "s"
      userID:
        type: integer
        example: -1



host: cop4331.site
basePath: /LAMPAPI
schemes:
- http