swagger: '2.0'
info:
  description: This is the API documentation for COP 4331 
  version: 1.0.0
  title: Contact manager
  # put the contact info for your development or API team
  contact:
    email: ha@ha.com

  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

paths:
  /CreateAccount.php:
    post:
      tags:
      - Users
      summary: Creates account
      operationId: dCreate
      description: Creates Acount
      consumes:
      - application/json
      parameters: 
      - in: body
        name: createItem
        description: Create
        schema: 
          $ref: '#/definitions/Create'
      responses:
        200:
          description: OK
        404:
          description: URL Not Found
        500:
          description: Server Error
          
  /Login.php:
    post:
        tags:
        - Users
        summary: Logs in to the login app
        operationId: dlLogin
        description: Logs in to login app
        consumes:
        - application/json
        produces:
        - application/json
        parameters:
        - in: body
          name: loginItem
          description: Login
          schema:
            $ref: '#/definitions/Login'
        responses:
          200:
            description: OK
          404:
            description: URL Not Found
          500:
            description: Server Error
            
            

definitions:
  Create:
    type: object
    required:
    - firstName
    - lastName
    - login
    - password
    properties:
      firstName:
        type: string
        example: "first"
      lastName:
        type: string
        example: "last"
      login:
        type: string
        example: "user"
      password:
        type: string
        example: "pass"

  Login:
    type: object
    required:
    - login
    - password
    properties:
      login:
        type: string
        example: "fred"
      password:
        type: string
        example: "secret"
        
host: cop4331.site
basePath: /LAMPAPI
schemes:
- http
